---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-heading font-medium">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex flex-wrap items-center gap-x-4 gap-y-1 text-sm">
        <Link href="/blog">blog</Link>
        <Link href="/projects">projects</Link>
        <Link href="/work">work</Link>
        <Link href="/now">now</Link>
        <Link href="/colophon">colophon</Link>
        <button
          id="magnifying-glass"
          aria-label="Search"
          class="cursor-pointer text-black/50 transition-colors duration-300 ease-in-out hover:text-black focus-visible:text-black dark:text-white/50 dark:hover:text-white dark:focus-visible:text-white"
        >
          <kbd id="search-shortcut" class="font-mono text-xs"></kbd>
        </button>
      </nav>
    </div>
  </Container>
</header>
