---
import Link from "./Link.astro";
import type { Heading } from "./TableOfContents.astro";

// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="py-1 text-sm">
  <Link href={"#" + heading.slug} underline={false}>
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-4 border-l border-black/10 pl-3 dark:border-white/15">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
